## This Colab is to share some questions to practice for ABCAT which is obtained from Hacker Rank, etc. and some questions shared by some of the freinds in Data Science community.

## **INTEGER FORMATING**

Sample Input:
1
1


Sample Output: 1

1

Sample Input1:
1
3


Sample Output: 1

001

In [ ]:
x, y = int(input()), int(input())
result = str(x).zfill(y) if len(str(x)) < y else str(x)
print(result)

1
1
1

In [ ]:
def format(x, y):
    x_str = str(x)  # Convert x to string
    if len(x_str) >= y:
        return x_str
    else:
        return x_str.zfill(y)  # Pad with leading zeros if necessary

# Take input from the user for x and y
x = int(input())
y = int(input())

# Call the format function with user-provided values
result = format(x, y)
print(result)

1
1
1

# **Print largest number from that list**

input:
5
6
7
1
0
6

Output: 7

In [ ]:
n = int(input())
largest = max(int(input()) for _ in range(n))
print(largest)

5
6
7
1
0
6
7

If you remove the following substrings, the remaining part can be counted as equal.
The parts are stn[1:2], stn[1:3], stn[1:4], stn[2:2], stn[2:3], stn[2:4].


37. Solve the python problem:
If A-1;B-2;C-3;D-4;E-5;F-6;G-7;H-8;I-9;J-10;K-11;L-12;M-13;N-14;O- 15;P-16;Q-17;R-18;S-19;T-20;U-21;V-22;W-23;-X-24;Y-25;Z-26;

Enter a string,  convert the string to the number format and display the value.

Sample Input : Happy

Sample Output :
81161625

In [ ]:
def convert_string_to_number(string):
    mapping = {
        'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10,
        'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19,
        'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26
    }
    result = ''
    for char in string:
        if char.isalpha():
            result += str(mapping[char.upper()])
    return result

# Example usage:
input_string = 'Happy'
output_number = convert_string_to_number(input_string)
print(output_number)

81161625

# Strings

In this challenge, the user enters a string and a substring. You have to print the number of times that the substring occurs in the given string. String traversal will take place from left to right, not from right to left.

NOTE: String letters are case-sensitive.

**Input Format**

The first line of input contains the original string. The next line contains the substring.

Constraints


Each character in the string is an ascii character.

**Output Format**

Output the integer number indicating the total number of occurrences of the substring in the original string.

**Sample Input**

ABCDCDC
CDC

**Sample Output**

2
Concept

Some string processing examples, such as these, might be useful.
There are a couple of new concepts:
In Python, the length of a string is found by the function len(s), where  is the string.
To traverse through the length of a string, use a for loop:

for i in range(0, len(s)):
    print (s[i])
A range function is used to loop over some length:

range (0, 5)

In [ ]:
string = input().strip()
substring = input().strip()

count = 0
for i in range(len(string) - len(substring) + 1):
    if string[i:i+len(substring)] == substring:
        count += 1

print(count)

ABCDCDCD
CDC
2

##Pandas


Create two lists and vertically stack the lists in pandas data frame:

**Input1** : 0 1 2 3 4
        a b c d e

**Output1:**
  0  1

0 0  a

1 1  b

2 2  c

3 3  d

4 4  e

**Input2:**
0 1 2 3
a b c d e

**Output2:**
  0    1

0 0    a

1 1    b

2 2    c

3 3    d

4 NaN  e

In [ ]:
import pandas as pd

list1 = input().split()
list2 = input().split()

s1 = pd.Series(list1)
s2 = pd.Series(list2)
result=pd.concat([s1,s2],axis=1)
print(result)

# **Greatest N digit Number which is divisible by N**


input1: 2,5,8

output1: 98,99995,99999992

In [ ]:
n=input(str)
numbers = n.split(',')
numbers = [int(num) for num in numbers]
output=[]
for i in numbers:
  largest=10**i-1
  remainder=(10**i-1)%i
  output.append(largest-remainder)
output_string = ', '.join(str(x) for x in output)
print(output_string)

<class 'str'>2,5,8
98, 99995, 99999992

In Python, a string can be split on a delimiter.

Example:

>>> a = "this is a string"
>>> a = a.split(" ") # a is converted to a list of strings.
>>> print a
['this', 'is', 'a', 'string']
Joining a string is simple:

>>> a = "-".join(a)
>>> print a
this-is-a-string
Task
You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.

Function Description

Complete the split_and_join function in the editor below.

split_and_join has the following parameters:

string line: a string of space-separated words
Returns

string: the resulting string
Input Format
The one line contains a string consisting of space separated words.

Sample Input

this is a string
Sample Output

this-is-a-string

In [ ]:
def split_and_join(line):
    # Split the line on spaces and join the resulting list with hyphens
    return "-".join(line.split())

# Read the input string from the user
input_string = input()

# Call the split_and_join function on the input string and print the result
result = split_and_join(input_string)
print(result)

this is a string
this-is-a-string

# Difference of ASCII Values of two strings

input1:
123ABC, 456DEF

output1:
-18

In [ ]:
str1=input()
str2=input()
def sum_ascii(string):
  sum=0
  for char in string:
        sum += ord(char)
  return sum

diff=sum_ascii(str1)-sum_ascii(str2)
print(diff)

123ABC
456DEF
-18

**#Frequency**

input: a a a b b b b c c c c c d d d e e

output:

a 3

b 4

c 5

d 3

e 2

In [ ]:
import pandas as pd
input_str = input(str())

# Remove the spaces from the input string
input_str = input_str.replace(" ", "")
# Create a dictionary to store the letter counts
counts = {}

# Loop through the input string and count the occurrences of each letter
for letter in input_str:
    if letter in counts:
        counts[letter] += 1
    else:
        counts[letter] = 1

answer=pd.DataFrame(counts.items(),columns=['letters','count'])
answer.sort_values('count')
print(answer.to_string(index=False, header=False))
print(answer['count'].dtype)

a a  a b b b  b c c c d
a 3
b 4
c 3
d 1
int64

In [ ]:
import pandas as pd

input_str = input("Enter a string: ")

# Remove the spaces from the input string
input_str = input_str.replace(" ", "")
# Create a dictionary to store the letter counts
counts = {}

# Loop through the input string and count the occurrences of each letter
for letter in input_str:
    if letter in counts:
        counts[letter] += 1
    else:
        counts[letter] = 1

answer = pd.DataFrame(counts.items(), columns=['letters', 'count'])
answer = answer.sort_values('letters')

print(answer.to_string(index=False, header=False))
print("dtype: int64")

Enter a string: aaadfdjdjfjdfhdfdhdhdh
a 3
d 8
f 4
h 4
j 3
dtype: int64

#Unique characters Seperated by a space

Input: apple

output: a l e

In [ ]:
string=input(str())
result=''

for letter in string:
  if string.count(letter)==1:
    result+=letter
result=' '.join(result)
print(result)

apple
a l e

# Average ASCII

Input1: HAPPY BIRTHDAY

Output1: 76

Input2: NOTHING IS IMPOSSIBLE

Output2:77

In [ ]:
import math
input_str = input("Please enter a string: ")

# Remove any spaces from the input string
input_str = input_str.replace(" ", "")

# Calculate the total ASCII value of the string
total_ascii = sum(ord(char) for char in input_str)

# Calculate the average word value
avg_word_value = total_ascii / len(input_str)
avg_word_value=math.ceil(avg_word_value)
# Output the result
print(avg_word_value)

Please enter a string: NOTHING IS IMPOSSIBLE
77

#Reshape of an panda array

 Input: list 1 2 3 4 5 6 7 8

  list  2 4

  check 2*4=8 and Len is equal to 8 then reshape the array to 2*4 size

In [ ]:
import numpy as np
import pandas as pd

# Define the input list and target shape
input_list = [1, 2, 3, 4, 5, 6, 7, 8]
target_shape = (2, 4)

# Check if the input list can be reshaped to the target shape
if np.prod(target_shape) == len(input_list):
    # Reshape the input list to the target shape
    reshaped_array = np.array(input_list).reshape(target_shape)

    # Convert the reshaped array to a Pandas DataFrame
    reshaped_df = pd.DataFrame(reshaped_array)

    # Print the reshaped array
    print(reshaped_df.to_string(index=False, header=False))

else:
    print("Invalid Output")

1 2 3 4
5 6 7 8

input1:

4

abc?
Abc?

output1:
YES

input2:

4

aab?

A?aa

output2:
YES

input3:

5

aaa?a

bbbb?

output3: No

In [ ]:
import pandas as pd

# Take input of the two lists
list1 = input().split(' ')
list2 = input().split(' ')

mylist=list1+list2
listfordf = [x for i, x in enumerate(mylist) if x not in mylist[:i]]
repeated_values = list(set([x for x in mylist if mylist.count(x) > 1]))

df=pd.Series(listfordf)
result = df[~df.isin(repeated_values)]
print(result)

1 2 3 4 5
6 7 8 9 10
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: object

## GENERATE 2D ARRAY
PROGRAM TAKE 4 INPUTS ,PRINT 2D ARRAY FOR EACH INPUT

In [ ]:
def process_input(input_str):
    values = list(map(int, input_str.strip().split(',')))
    output = []
    start_value = 1
    for _ in range(values[0]):
        sublist = list(range(start_value, start_value + values[1]))
        output.append(sublist)
        start_value += values[1]
    return output

# Read input from standard input
a = input()
b =input()
c=input()
d=input()

output1 = process_input(a)
print(output1)
output2 = process_input(b)
print(output2)
output3 = process_input(c)
print(output3)
output4 = process_input(d)
print(output4)

2,2
2,3
3,3
3,4
[[1, 2], [3, 4]]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

n=int(input())
ls=[]
for i in range(n):
  ls.append(input().split(' '))
df=pd.DataFrame(ls)

X = df.iloc[:, 1:]  # Select all columns except the first (dependent variable)
y = df.iloc[:, 0]
model=LinearRegression()
model.fit(X,y)
y_pred=model.predict(X)
r2 = r2_score(y, y_pred)
print(round(r2, 2))

5
234314.144 643.09 2015
228581.528 656.22 2009
281628.336 487.29 2018
401255.608 1504.75 2015
458674.256 1275.46 2009
0.75

# **Digital MARKETING FIRM**
YOU ARE GIVEN CAMPAIGN NAME, NUMBER OF EMAILS AND EMAIL OPEN COUNT.CALCULATE OPEN RATE

In [ ]:
import pandas as pd

# Get the number of elements in the dictionary
T = int(input())

# Get the data related to campaign name
campaign_names = input().split()

# Get the data related to number of emails
emails_delivered = list(map(int, input().split()))

# Get the data related to email open rate
email_open_count = list(map(int, input().split()))

# Calculate the mean open rate
mean_open_rate = sum(email_open_count) / len(email_open_count)

# Create a dictionary of data
data = {
    'Campaign Name': campaign_names,
    'Emails Delivered': emails_delivered,
    'Email Open Count': email_open_count,
    'Open Rate > Mean': [rate > mean_open_rate for rate in email_open_count]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Extract the 'Open Rate > Mean' column as a list of boolean values
open_rate_bools = data['Open Rate > Mean']

# Print the list of boolean values, one value per line
for value in open_rate_bools:
    print(value)

4
softbank apple microsoft amazon
2845 3425 2942 4215
1253 3256 2100 1252
False
True
True
False

# **FIND greatest N digit number divisible by N**

In [ ]:
n = input()
numbers = [int(seennum) for num in n.split(',')]

output = []
for i in numbers:
    largest = 10 ** i - 1
    remainder = largest % i
    output.append(largest - remainder)

output_string = ','.join(map(str, output))
print(output_string)

2,5,8
98,99995,99999992

# **DIFFERENCE OF DIFFERENCE**

WRITe PYTHON PROGRAM THAT DOES THE FOLLOWING:
* takes an integer list as input
*creates a Pandas Series from the list
* prints the difference of the difference between consecutive elements of the list
INPUT FORMAT:
* the first line contains  space seperated  integers which represnt the elemnts of the input list
OUTPUT FORMAT:
*print the diffrence of the consecutive elements of the list on the first line
*print the difference of the difference of the elements obtained from the above,on the second line
* for missing values,print nan(missing values will be present when you try to subtract the 0th element from the 1st element)

In [ ]:
import pandas as pd
import numpy as np

# Take input as space-separated integers
input_list = list(map(int, input().split()))

# Create a Pandas Series from the input list
series = pd.Series(input_list)

# Calculate the difference of consecutive elements
diff_1 = series.diff()

# Calculate the difference of the difference
diff_2 = diff_1.diff()

# Replace missing values with NaN
diff_1.iloc[0] = np.nan
diff_2.iloc[0] = np.nan

# Store the results in a list
output_list = [diff_1.tolist(), diff_2.tolist()]

# Print the output list
for result in output_list:
    print(result)

2 4 6 8 10 12 14 16
[nan, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
[nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

# **SECOND BEST**

allan marriage, he wants his best man to be tallest guy. he prepared list of friend's heights and has trusted you with the list. it happend that danny ,the tallest guy in the group dwn with fever and supposedly wont be able to attend the function
so now its upto you to select the second tallest guy status of he status of the best man. to find a quick answe write python code for it
input format:a single line cintaing heights of all friends in inches seperated by commas
contraints:1<=height of all friends,=200
output format: print the height of second tallest guy

In [ ]:
heights = input()
heights_list = list(map(int, heights.split(",")))

# Remove the tallest guy's height from the list
heights_list.remove(max(heights_list))

# Find the second tallest guy's height
second_tallest_height = max(heights_list)

print( second_tallest_height)

142,321,78,32,112,98
142

GET THE NUMBER

write a program that rewrites number from input to output intill the number 5 is encountered.
input format: the input comprises of non zero numbers of intgers in STDIN
EACH INTEGER IS SEPERATE BY NEW LINE
contsraints: 1<=integer<=50
output format: you have to print each integer in a new line according as per the problrm statemne.

In [ ]:
while True:
    num = int(input())
    if num == 5:
        break
    else:
        print(num)

**CENTRAL TENDENCY II**

taking some numerivcal value as input you have to write a program that calculates and prints the mode of dataset

input format:
the first line contains number of tests case T
the next T line contains space separated numerical values, which represent the input datacase

output format:
For each testcase T. print the respective mode, each on a new line in the given format:
If there is a single mode in the data-set, print the respective value.
If there are multiple modes in the dataset and the
frequency of occurrence is more than 1. print all of them. each on a new line.
If there are no modes in the dataset, print "No MODE found"

In [ ]:
# Read the number of test cases
T = int(input())

# Process each test case
for _ in range(T):
    # Read the input dataset
    dataset = list(map(float, input().split()))

    frequency = {}

    # Count the occurrences of each value in the dataset
    for num in dataset:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1

    max_count = max(frequency.values())
    modes = [num for num, count in frequency.items() if count == max_count]

    if len(modes) == len(dataset):
        print("No MODE found")
    else:
        modes.sort()  # Sort the modes in ascending order
        for mode in modes:
            print(mode)

3
1.23 3.45 3.45 4.56 5.67
3.45
4.44 2.22 4.44 5.55 2.22
2.22
4.44
9.87 8.76 7.65 6.54
No MODE found

## **LUCY AND GAME**

In [ ]:
import sys

def bullseye(scores):
    count = 0
    for s in scores:
        if s == 50:
            count += 1
    return count

try:
    # Read the number of hits
    N = int(input())

    # Read the scores
    scores = list(map(int, input().split()))

    # Call the bullseye function
    result = bullseye(scores)

    # Print the number of bullseyes hit by Lucy
    print(result)

except EOFError:
    sys.exit()

4
20 40 50 1
1

# **smallest string**

In [ ]:
def smallestString(t):
    m = len(t)
    smallest_str = t
    smallest_x = 1
    index = 0

    if m == 0:
        return smallest_x

    for x in range(1, m + 1):
        k = m - x + 1
        new_str = t[x-1:m] + t[0:x-1]

        if new_str < smallest_str:
            smallest_str = new_str
            smallest_x = x

    return smallest_x

if __name__ == '__main__':
    t = input()
    result = smallestString(t)
    print(str(result))

dede
1

# **UNIQUE CHARACTERS SEPARATED BY A SPACE**

In [ ]:
string = input(str())
result = ""

for letter in string:
  if string.count(letter) == 1:
    result +=letter
result_with_spaces = " ".join(result)
print(result_with_spaces)

apple
a l e

# **Space shuttle Manufacturing Firm**

In [ ]:
#print the final veloctity

import numpy as np

a,b,m,n,c,d = map(int , input(" ").split())
p,q = map(int , input("").split())

A=np.array([[a,b] , [m,n]])
B= np.array([c,d])


X=np.linalg.solve(A,B)

p_vec = np.array([p,0])
q_vec = np.array([0,q])
v_actual = np.dot(X, p_vec) + np.dot(X , q_vec)

if v_actual<0:
  print("Process Error")
else:
  print(f"{v_actual:.2f}")

 10 15 12 15 10 12
12 10
12.00

# **PRINT 0.0 AND 1.0 FROM  THE DATAFRAME COLUMN RESULT**

You are working as a Data Analyst firm. one of your clients is leading educatinal institute across the globe. As part of your consulting project you are given a dataset related to various students containing the following fields
• Name • Age • Marks • Country
Using Pandas operations, add a new column to  the Dataframe named 'Result' that contains the following  data:
• "0.0" for students having marks greater  than the meal value
• "1.0" for students having marks lower than the mean vale
INPUT FORMAT:
• The first line represesnts the number of test cases T
 • The next T lines represnts each row in the dataset
Output Format :
 Print  the value of Result accodingly

In [ ]:
import pandas as pd

# Read the number of test cases
T = int(input())

# Initialize an empty list to store the data
data = []

# Read the data for each test case
for _ in range(T):
    row = input().split()
    data.append(row)

# Create a DataFrame from the data
df = pd.DataFrame(data, columns=['Name', 'Age', 'Marks', 'Country'])

# Convert 'Marks' column to numeric
df['Marks'] = pd.to_numeric(df['Marks'])

# Calculate the mean value of marks
mean_value = df['Marks'].mean()

# Add the 'Result' column
df['Result'] = df['Marks'].apply(lambda x: 0.0 if x > mean_value else 1.0)

# Print the values of the 'Result' column
for result in df['Result']:
    print(result)

3
Alex 18 54 Australia
Bob 15 64 China
Clarke 16 70 Mexico
1.0
0.0
0.0

# **english alphabets**

In [ ]:
import pandas as pd

inp = 'abcdefghijklmnopqrstuvwxyz'

inp_name = input()
my_list = []

# Logic
for i in inp:
    my_list.append(i)

my_series = pd.Series(my_list)
my_series.index.name = None
print(my_series.to_string())

alphabets
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z

# **#create database**

In [ ]:
import pandas as pd
import numpy as np

data ={'animal' : ['cat','cat','snake','dog']}
data

{'animal': ['cat', 'cat', 'snake', 'dog']}

# **join divisible sum**

In [ ]:
num = input()
divisible_nums = [binary for binary in num.split(',') if int(binary,2) % 3 == 0]
print(','.join(divisible_nums))

110,101,1001,11,111
110,1001,11

In [ ]:
num = input()
divisible_nums = [binary for binary in num.split(',') if int(binary, 2) % 3 == 0]
print(','.join(divisible_nums))

110,101,1001,11,111
110,1001,11

# **smallest & largest**

In [ ]:
num = (input())
num_list = [int(num) for num in num.split(',')]
smallest = min(num_list)
largest = max(num_list)
print('smallest = ' ,smallest ,'Largest = ', largest)

232,23,23,23,2,32,3,23
smallest =  2 Largest =  232

# **number of profitable day**

In [ ]:
num = int(input())
list1 = [int(num) for num in input().split(' ') if len(num) > 0 ]
pos_count = 0

for i in list1:
  if i>= 0:
    pos_count += 1

print(pos_count)

12
12
1

# **PRODUCT &SUM**

In [ ]:
def perform_operations(nums):
  sum_result=sum(nums)
  product_result=1
  for num in nums:
    product_result*=num
  return sum_result,product_result


n=int(input())
numbers=[]
for i in range(n):
  num=int(input())
  numbers.append(num)
sum_result,product_result=perform_operations(numbers)
print(sum_result)
print(product_result)

4
1
2
3
4
10
24

# **LUCY MEMORY IS WEAK . NEEDS TO RECOLLECT FRIENDS DETAILS**

Lucy a weak memory, she cant remember details of each of his friends .So. she needs your help in this. You will be given names of  each friend Lucy has with their details (Age,hobbies,favorite chocolate). Also Q queries will be given each containing the name of her friends, you need to develop a program which will print queried friend details.

Input Format

 • First line contains T(1<=T<=10) the number of test cases

 • First line of each test case contains N( 1<=N<=30),Q(1<=Q<=15) denoting the number of friends Lucy has and the number of queries.

 • Next N lines contains a tuple of 4 strings name, age, hobbies. favorite chocolate (Its guaranteed that no two tuples will be the same).

• Next Q lines contains name. the friend Whose details Lucy wants to recollect

OUTPUT FORMAT:
For each query output age,hobbies,favorite chocolate of the queried friend.
sample input:
1
3 2
diwakar 22 programming darkfantacy
suraj 11 programming milkybar
Ashutosh 17 football milkybar
suraj
Ashutosh

In [ ]:
def print_friend_details(friends, queries):
    friend_details = {friend[0]: friend[1:] for friend in friends}

    for query in queries:
        if query in friend_details:
            details = friend_details[query]
            print(f"{details[0]}, {details[1]}, {details[2]}")

# Read the number of test cases
T = int(input())

for _ in range(T):
    # Read the number of friends and queries
    N, Q = map(int, input().split())

    friends = []
    queries = []

    # Read the details of each friend
    for _ in range(N):
        friend = input().split()
        friends.append(friend)

    # Read the names of queried friends
    for _ in range(Q):
        query = input().strip()
        queries.append(query)

    # Print the friend details
    print_friend_details(friends, queries)

1
3 2
diwakar 22 programming darkfantacy
suraj 11 programming milkybar
Ashutosh 17 football milkybar
suraj
Ashutosh
11, programming, milkybar
17, football, milkybar

# **ASCII PROBLEM RANGE(65-90 &48,57)**
write a programm that takes a string as input . the programm validates the inputtes string, if the string is valid, the programm should print YES . otherwise NO. the validation criteria is as follow.

There Should not be any character With ASCII code . 32 in the string .
the first and last chracter of the input should be character from the ASCII range 65 -  90
the input shoud contan two character from the ASCII range 48 -57 and both should appears together without any character in - between.

In [ ]:
def validate_input_string(s):
    # Check if any character has ASCII code 32
    if any(ord(char) == 32 for char in s):
        return "NO"

    # Check if the first and last characters are in the ASCII range 65-90
    if not (65 <= ord(s[0]) <= 90) or not (65 <= ord(s[-1]) <= 90):
        return "NO"

    # Check if there are exactly two digits together without any character in-between
    digit_count = 0
    for i in range(len(s) - 1):
        if s[i].isdigit() and s[i+1].isdigit():
            digit_count += 1

    if digit_count != 2:
        return "NO"

    return "YES"


# Example usage
input_str = input()
result = validate_input_string(input_str)
print(result)

Enter a string: TX893Y
YES

# **first non repeating character**

In [ ]:
def find_first_non_repeating_char(string):
    char_count = {}

    # Count the occurrences of each character
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    # Find the first non-repeating character
    for char in string:
        if char_count[char] == 1:
            return char

    # If no non-repeating character found, return 0
    return '0'

# Example usage
input_str = input()
result = find_first_non_repeating_char(input_str)
print(result)

teeterson
r

# **is divisible 3**

In [ ]:
numbers = input()
divisible_numbers = [binary for binary in numbers.split(',') if int(binary, 2) % 3 == 0]
print( ','.join(divisible_numbers))

0011,0100,0101,1001
0011,1001

# **find_Substring**

In [ ]:
import re

def find_substring(input_string, substring):
    # Replace * with a regex pattern for any characters
    pattern = substring.replace('*', '.*')

    match = re.search(pattern, input_string)

    if match:
        start_index = match.start()
        end_index = match.end()
        return input_string[start_index:end_index]
    else:
        return "no matches found"

# Accept two console inputs
input_string = input("Enter the input string: ")
substring = input("Enter the substring: ")

# Find the substring and print the result
result = find_substring(input_string, substring)
print(result.lower())7

Enter the input string: bombay
Enter the substring: om*
ombay

# **Max Prefix**

In [ ]:
def findMaxPrefix(s):
    n = len(s)
    lps = [0] * n  # Longest Proper Prefix which is also a Suffix
    length = 0  # Length of the previous longest prefix suffix

    i = 1
    while i < n:
        if s[i] == s[length]:
            length += 1
            lps[i] = length
            i += 1
        else:
            if length != 0:
                length = lps[length - 1]
            else:
                lps[i] = 0
                i += 1

    return lps[n - 1]


# Constant part
if __name__ == "__main__":
    S = input("Enter a string: ")

    # Customizable part
    result = findMaxPrefix(S)
    print(result)

Enter a string: abcabc
3

# **WHAT DOES THE FOX SAY**

You have learnt how to use Regular expressions in Python It's time that you implemented this awesome functionaity of Regular Expressions and check for yourself how good you are at it

You have to take a sentence (with minimum three words in it) and an integer (N)as input. You have to print all N-lettered words present in the string

Input Format:

• The first line should contain a string, with minimum three space-separated words in it

• The second line contains an Integer N

Constraints:

• The number of words in the string MD A/Id not be than 3: else pint Too Less Number of Words Entered
• The string should contain only uppercase and lowercase letters of the English alphabet

Output Format :

• Print all N -Fettered words in new lines.

In [ ]:
import re

# Take input from the user
sentence = input().strip()
n = int(input())

# Split the sentence into words
words = sentence.split()

# Check the number of words in the sentence
if len(words) < 3:
    print("Too Less Number of Words Entered")
else:
    # Use regular expression to find N-lettered words
    pattern = r'\b\w{' + str(n) + r'}\b'
    n_lettered_words = re.findall(pattern, sentence)

    # Print the N-lettered words
    for word in n_lettered_words:
        print(word)

The fox jumps over the lazy dog
3
The
fox
the
dog

# **optimal quentity question**

In [ ]:
import math

def calculate_optimal_order_quantity(demand):
    c = 50  # Cost per order
    h = 30  # Annual holding cost per unit

    quantities = []
    for d in demand:
        q = math.sqrt((2 * c * d) / h)
        quantities.append(round(q))

    return quantities


demand = input("Enter the annual demand quantities (comma-separated): ").split(",")
demand = [int(d.strip()) for d in demand]

optimal_quantities = calculate_optimal_order_quantity(demand)

print(",".join(str(q) for q in optimal_quantities))

Enter the annual demand quantities (comma-separated): 100,150,180
18,22,24

# **Cricket Score**

In [ ]:
def solve(score):
    str1 = score

    mylist = list(str1)
    player1_score = 0
    player2_score = 0
    current_player = 1

    def is_odd(number):
        return number % 2 != 0

    for i in mylist:
        if i == '|':
            current_player = 2 if current_player == 1 else 1
        else:
            if current_player == 1:
                player1_score += int(i)
            if is_odd(int(i)):
                current_player = 2 if current_player == 1 else 1

    if player1_score >= player2_score:
        result = 'player1'
    else:
        result = 'player2'

    return result

if __name__ == '__main__':
    score = input()
    result = solve(score)
    print(result)

423002|2611
player1

In [ ]:
import pandas as pd
import numpy as np

data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5],
    'visits': [1, 3, 2, 3, 2],
    'priority': ['yes', 'yes', 'no', 'yes', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data, index=labels)

summary = df.describe()

print(summary)

            age   visits
count  4.000000  5.00000
mean   2.750000  2.20000
std    1.848423  0.83666
min    0.500000  1.00000
25%    2.000000  2.00000
50%    2.750000  2.00000
75%    3.500000  3.00000
max    5.000000  3.00000

# **PRINT TRUE OR FALSE DEPENDS UPON THE BALANCE OF PARANTHESIS**

In [ ]:
def is_balanced(string):
    stack = []

    for char in string:
        if char == "(":
            stack.append(char)
        elif char == ")":
            if len(stack) == 0 or stack[-1] != "(":
                return False
            stack.pop()

    return len(stack) == 0

# Get input from the user
input_string = input("Enter a string: ")

# Check if parentheses are balanced
result = is_balanced(input_string)

# Print the result
print(str(result).lower())

Enter a string: (((()))((())
false

# **find letter ( camel canal)**

In [ ]:
def find_letters(string1, string2):
    letters = set(string1) - set(string2)
    return list(letters)

# Test the function
string = input().split(" ")
string1 = string[0]
string2 = string[1]
result = find_letters(string1, string2)
print(" ".join(result))

camel canal
m e

In [ ]:
string[1]

'canal'

# **JOIN TWO STRINGS**

In [ ]:
# Read the two strings from input
string1 = input()
string2 = input()

# Concatenate the strings with a space between them
result = string1 + "" + string2

# Print the result
print(result)

do
select
do select

# **PRINT TRUE OR FALSE DEPENDING UPON WHETHER  X IS A MEMBER OF VALUES FROM THE LIST A**

In [ ]:
# Read the value and the list from input
x = input()
N = int(input())

# Read the elements of the list
A = []
for _ in range(N):
    element = input()
    A.append(element)

# Check if x is a member of A
is_member = False
for element in A:
    if element == x:
        is_member = True
        break

# Print the result
print(is_member)

bug
3
bug
in
production
True

# **PANDAS LIST TO DATAFRAME OF THE ORDER M*N PRINT WEIRED!**

you have to write python program which does the following
* takes list as input
* converts the list to a pandas series
* reshapes the series into a dataframe of the order m*n
input format:
* the first line contains two space seperated integers,represnting the values of m and n accordingly.
*the first line contains two space seperated integers,which represnts the elemnts of the list

Constraints:

2<=m,n<=10
the product of m and n should be equal to the length of input list
OUTPUT FORMAT:

IF THE PRODUCT OF M AND N EQUALS THE LENGTH OF THE INPUT LIST, print the converted dataframe

if the product of m and n is NOT EQUAL to the length of the input list, print the messesge "Weired Order!"

In [ ]:
import pandas as pd

def reshape_list_to_dataframe(lst, m, n):
    if m * n == len(lst):
        series = pd.Series(lst)
        dataframe = pd.DataFrame(series.values.reshape(m, n))
        return dataframe
    else:
        return "Weird Order!"

# Get input from the user
m, n = map(int, input().split())
lst = list(map(int, input().split()))

# Reshape the list to a dataframe
result = reshape_list_to_dataframe(lst, m, n)

# Print the result
print(result)

2 4
1 2 3 4 5 6 7 8
   0  1  2  3
0  1  2  3  4
1  5  6  7  8

# **REVERSE EACH WORD AND ELIMINATE PALIANDROME**

John asked for a puzzle from one of his friends. He has given a string and he has to decode the given string according to the set of rules -

1. Reverse each word of the space-separated string.
2. Eliminate palindrome word.

Palindrome words are those words that can be read the same from either side. For example - "aba" is the same as the reverse of "aba"; Therefore, it is a palindrome.

Input Format

• First line contains the value of N, no. of queries(String).

Next N lines contains string.

Output Format

• For each query print the decoded string in a newline.

In [ ]:
def reverse_words(string):
    words = string.split()
    reversed_words = [word[::-1] for word in words]
    return ' '.join(reversed_words)

def is_palindrome(word):
    return word == word[::-1]

def decode_string(string):
    reversed_string = reverse_words(string)
    words = reversed_string.split()
    decoded_words = [word for word in words if not is_palindrome(word)]
    return ' '.join(decoded_words)

# Get the number of queries
N = int(input())

# Process each query
for _ in range(N):
    string = input()
    decoded_string = decode_string(string)
    print(decoded_string)

2
i love my country
evol ym yrtnuoc
she is madam
ehs si

# **PRINT NUMBERS BETWEEN GIVEN NUMBERS. PRINT OUT OF RANGE AND DIFFERENCE NOT IN RANGE**

As a beginner in Python programming, your first task is to create a list which prints 10 numbers between a given start point and end point.

Write a Python script to implement this.

Input Format

• The first line contains the number of test-cases T.

The next T lines contain a start point integer and an end point integer.

Constraints

The start point should NOT be less than 1; else print Out of Range

The end point should NOT exceed 100; else print Out of Range

• The difference between the start point and end point (inclusive of both) should always be equal to 10; else print Difference Not in Range

• The limits constraint should be checked before the
difference constraint.
output format:
print the 10 numbers between the given range

# **CODE WITH FUNCTION**

In [ ]:
def print_numbers(start, end):
    numbers = list(range(start, end + 1))
    print(numbers)

def process_test_case(start, end):
    if start < 1 or end > 100:
        print("Out of Range")
    elif end - start + 1 != 10:
        print("Difference Not in Range")
    else:
        print_numbers(start, end)

# Read the number of test cases
t = int(input())

# Process each test case
for _ in range(t):
    # Read the start and end points
    start, end = map(int, input().split())

    # Process the test case
    process_test_case(start, end)

3
1 9
Difference Not in Range
22 31
[22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
90 103
Out of Range

# **CODE WITHOUT FUNCTION**

In [ ]:
# Read the number of test cases
t = int(input("Enter the number of test cases: "))

# Process each test case
for _ in range(t):
    # Read the start and end points
    start, end = map(int, input("Enter the start and end points: ").split())

    # Check if start point is out of range
    if start < 1:
        print("Out of Range")
        continue

    # Check if end point is out of range
    if end > 100:
        print("Out of Range")
        continue

    # Check if the difference is not equal to 10
    if end - start + 1 != 10:
        print("Difference Not in Range")
        continue

    # Print the numbers between the given range
    numbers = list(range(start, end + 1))
    print(numbers)

Enter the number of test cases: 3
Enter the start and end points: 1 9
Difference Not in Range
Enter the start and end points: 22 31
[22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
Enter the start and end points: 90 103
Out of Range

# **RGB-HEX**

In [ ]:
def convert_rgb_to_hex(rgb):
    hex_values = []
    rgb_values = rgb.split(',')

    for rgb in rgb_values:
        r, g, b = rgb.split('-')
        r = int(r)
        g = int(g)
        b = int(b)

        if r > 255 or g > 255 or b > 255:
            hex_values.append("INVALID")
        else:
            hex_value = "#{:02X}{:02X}{:02X}".format(r, g, b)
            hex_values.append(hex_value)

    return ','.join(hex_values)


# User Input
rgb_input = input()

# Convert RGB to Hexadecimal
result = convert_rgb_to_hex(rgb_input)

# Output
print(result)

12-13-14,45-156-23,234-234-256
#0C0D0E,#2D9C17,INVALID

# **INTRESTING STRINGS**

John is reading his English book in 2nd chapter he looked at the words "tokyo" and "kyoto" and noticed an unusual property that We can split "tokyo" into "to"+"kyo" and then swap those two parts to obtain "kyo"+"to" = "kyoto".

Let S and T be two different strings. We call the pair (ST) interesting if there are two non-empty strings A and B such that

S=A+B and T = B+A.

For example, according to this definition, if S="tokyo" and T="kyoto", then the pair (S.T) is interesting because we can find A="to" and B="kyo"

You are given String[] words. Return the number of interesting pairs we can find among the elements of words. Only count each pair once. E.g.. ("tokyo", "kyoto") and ("kyoto","tokyo") is the same interesting pair

In [ ]:
def count_interesting_pairs(words):
    count = 0
    word_set = set(words)  # Remove duplicate words

    for word in word_set:
        n = len(word)
        for i in range(1, n):
            prefix = word[:i]
            suffix = word[i:]

            reversed_word = suffix + prefix
            if reversed_word in word_set and reversed_word != word:
                count += 1

    return count // 2  # Divide by 2 to avoid counting pairs twice

# Example usage:
word_input = input("Enter the words (comma-separated): ")
word_list = word_input.split(",")
pair_count = count_interesting_pairs(word_list)
print(pair_count)

Enter the words (comma-separated): tokyo,kyoto
1

# **PYTHON DATAFRAME DESCRIBE METHOD**

In [ ]:
import pandas as pd
import numpy as np

data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5],
    'visits': [1, 3, 2, 3, 2],
    'priority': ['yes', 'yes', 'no', 'yes', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data, index=labels)

summary = df.describe()

print(summary)

            age   visits
count  4.000000  5.00000
mean   2.750000  2.20000
std    1.848423  0.83666
min    0.500000  1.00000
25%    2.000000  2.00000
50%    2.750000  2.00000
75%    3.500000  3.00000
max    5.000000  3.00000

# **PALINDROMES AGAIN!**

You have been asked questions about palindromic strings. One of them was indeed interesting. It asks the user to find if any anagram of a given string is a palindrome?

Anagram is just the rearrangement of the letters of a string The entire number of letters and their count remains intact in the new string

Input Format

. The input is just a string, consisting of lower case alphabets.

Constraints

The length of the string: [S]: 1<=[5]<=10^5

Output Format

• You must output True, if there is a possibility of a palindromic anagram.

Else output False

In [ ]:
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++def is_palin_anagram(s):
    char_count = {}
    odd_count = 0

    for char in s:
        char_count[char] = char_count.get(char, 0) + 1

    for count in char_count.values():
        if count % 2 != 0:
            odd_count += 1

    return odd_count <= 1


if __name__ == '__main__':
    s = input()
    result = is_palin_anagram(s)
    print(result)

carrace
True

In [ ]:
def reverse_number(number):
    reversed_number = 0
    while number > 0:
        reversed_number = (reversed_number * 10) + (number % 10)
        number = number // 10
    return reversed_number

# Take input from the user
input_number = int(input())
reversed_number = reverse_number(input_number)
print( reversed_number)

534750
57435

QTP,SELENIUM,PROTRACTOR MATCHING QUESTION

In [ ]:
A1 = ['QTP', 'Selenium', 'Protractor']

# Take input from the user
user_input = input()
input_list = user_input.split(',')


input_list = [elem.strip() for elem in input_list]


A1_sorted = sorted(A1)
input_list_sorted = sorted(input_list)


if A1_sorted == input_list_sorted:
    print("Match")
else:
    print("Not Match")

Qtp,selenium,asif
Not Match

In [ ]:
str1, str2 = input().split(',')

def sum_ascii(string):
    total_sum = 0
    for char in string:
        total_sum += ord(char)
    return total_sum

diff = sum_ascii(str1) - sum_ascii(str2)
print(diff)

123ABC,456DEF
-18

In [ ]:
def count_profitable_days(numDays, sales):
    count = 0
    for i in range(numDays):
        if sales[i] > 0:
            count += 1
    return count

# Read input
numDays = int(input())
sales = list(map(int, input().split()))

# Call the function and print the result
profitable_days = count_profitable_days(numDays, sales)
print(profitable_days)

7
23 -7 13 -34 56 43 -12
4

In [ ]:

def solve(s):
  numerical_value = int(s)
  result = numerical_value * 2
  return result

string_num =input()
out=solve(string_num)
print(out)

03486
6972

In [ ]:
def reverse_number(num):
    reversed_num = ""
    num_str = str(num)

    for i in range(len(num_str) - 1, -1, -1):
        reversed_num += num_str[i]

    return reversed_num

# Test the function
num = input()
reversed_num = reverse_number(num)
print(reversed_num)

124705
507421

Write a program that does the following:

• takes a list as input

• creates a Pandas Series from the list above

takes a string as input and assigns the string as a name to the Series

• takes the inputs for n & pos and prints some (n) rows from the first OR last of the Series, depending on the input

Input Format

• The first line contains the elements of the list

• The second line contains a string which is to be used as a name for the Pandas Series being generated.
The last line contains two space-separated integers ⚫
n-This represents the number of rows that you have to print from the Series.

pos-This represents the position from where the rows have to be extracted. This can be only 1 (first) or 0 (last).

Output Format

Depending on the values of n and pos, print the first/last

n rows of the Series on to the STDOUT

• Print the Name and dtype of the output Series with its name (from input) and data type.

In [ ]:
import pandas as pd

# Take input for the list
list_input = input().split()

# Create a Pandas Series from the list
series = pd.Series(list_input)

# Take input for the name of the Series
series_name = input()

# Assign the name to the Series
series.name = series_name

# Take input for the number of rows and position
n, pos = map(int, input().split())

# Print the specified rows from the first or last of the Series
if pos == 1:
    output = series.head(n)
else:
    output = series.tail(n)

print(output)

a b c d e f g h i j k l m n o p q r s t u v w x y z
alphabets
3 1
0    a
1    b
2    c
Name: alphabets, dtype: object

In [ ]:
def format(num, length):
    x_str = str(num)
    if len(x_str) >= length:
        return x_str
    else:
        return x_str.zfill(length)

if __name__ == '__main__':
    num = int(input().strip())
    length = int(input().strip())

    result = format(num, length)
    print(result)

1
3
001

In [ ]:
def count_updates(initial, target):
    initial = list(initial)
    target = list(target)
    count = 0

    while initial != target:
        initial.append(initial.pop(0))
        count += 1
        if count > len(initial):
            count = -1
            break

    return count

# Test the function
num=int(input())
initial_str = input()
target_str = input()
num_updates = count_updates(initial_str, target_str)
print(num_updates)

2
molzv
lzvmo
2