<a href="https://colab.research.google.com/github/azizdafi/Practice-and-revision-material/blob/main/Deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns

In [ ]:
import pandas as pd

In [ ]:
df = sns.load_dataset('flights')

In [ ]:
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [ ]:
df.tail()

     year month  passengers
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

In [53]:
import tensorflow as tf
tf.__version__

'2.12.0'

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/content/cell2celltrain.csv')

In [7]:
x = df.shape
print(f'the dataset has {x[0]} rows and {x[1]} columns')

the dataset has 12007 rows and 58 columns

In [8]:
df.head()

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0.0,4.0,No,0.0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0.0,5.0,No,0.0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0.0,6.0,No,0.0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0.0,6.0,No,0.0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0.0,9.0,No,1.0,10,No,1-Highest,Other,Professional,Yes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12007 entries, 0 to 12006
Data columns (total 58 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 12007 non-null  int64
 1   Churn                      12007 non-null  object
 2   MonthlyRevenue             11986 non-null  float64
 3   MonthlyMinutes             11986 non-null  float64
 4   TotalRecurringCharge       11986 non-null  float64
 5   DirectorAssistedCalls      11986 non-null  float64
 6   OverageMinutes             11986 non-null  float64
 7   RoamingCalls               11986 non-null  float64
 8   PercChangeMinutes          11949 non-null  float64
 9   PercChangeRevenues         11949 non-null  float64
 10  DroppedCalls               12007 non-null  float64
 11  BlockedCalls               12007 non-null  float64
 12  UnansweredCalls            12007 non-null  float64
 13  CustomerCareCalls          12007 non-null  float64
 14  ThreewayCalls              12007 non-null  float64
 15  ReceivedCalls              12007 non-null  float64
 16  OutboundCalls              12007 non-null  float64
 17  InboundCalls               12007 non-null  float64
 18  PeakCallsInOut             12007 non-null  float64
 19  OffPeakCallsInOut          12006 non-null  float64
 20  DroppedBlockedCalls        12006 non-null  float64
 21  CallForwardingCalls        12006 non-null  float64
 22  CallWaitingCalls           12006 non-null  float64
 23  MonthsInService            12006 non-null  float64
 24  UniqueSubs                 12006 non-null  float64
 25  ActiveSubs                 12006 non-null  float64
 26  ServiceArea                12001 non-null  object
 27  Handsets                   12006 non-null  float64
 28  HandsetModels              12006 non-null  float64
 29  CurrentEquipmentDays       12006 non-null  float64
 30  AgeHH1                     11831 non-null  float64
 31  AgeHH2                     11831 non-null  float64
 32  ChildrenInHH               12006 non-null  object
 33  HandsetRefurbished         12006 non-null  object
 34  HandsetWebCapable          12006 non-null  object
 35  TruckOwner                 12006 non-null  object
 36  RVOwner                    12006 non-null  object
 37  Homeownership              12006 non-null  object
 38  BuysViaMailOrder           12006 non-null  object
 39  RespondsToMailOffers       12006 non-null  object
 40  OptOutMailings             12006 non-null  object
 41  NonUSTravel                12006 non-null  object
 42  OwnsComputer               12006 non-null  object
 43  HasCreditCard              12006 non-null  object
 44  RetentionCalls             12006 non-null  float64
 45  RetentionOffersAccepted    12006 non-null  float64
 46  NewCellphoneUser           12006 non-null  object
 47  NotNewCellphoneUser        12006 non-null  object
 48  ReferralsMadeBySubscriber  12006 non-null  float64
 49  IncomeGroup                12006 non-null  float64
 50  OwnsMotorcycle             12006 non-null  object
 51  AdjustmentsToCreditRating  12006 non-null  float64
 52  HandsetPrice               12006 non-null  object
 53  MadeCallToRetentionTeam    12006 non-null  object
 54  CreditRating               12006 non-null  object
 55  PrizmCode                  12006 non-null  object
 56  Occupation                 12006 non-null  object
 57  MaritalStatus              12006 non-null  object
dtypes: float64(34), int64(1), object(23)
memory usage: 5.3+ MB

In [10]:
dup = df.duplicated().sum()
print(f'number of duplicated rows are {dup}')

number of duplicated rows are 0

In [11]:
df = df.dropna()

In [12]:
missing_values = df.isna().sum()
print(missing_values)

CustomerID                   0
Churn                        0
MonthlyRevenue               0
MonthlyMinutes               0
TotalRecurringCharge         0
DirectorAssistedCalls        0
OverageMinutes               0
RoamingCalls                 0
PercChangeMinutes            0
PercChangeRevenues           0
DroppedCalls                 0
BlockedCalls                 0
UnansweredCalls              0
CustomerCareCalls            0
ThreewayCalls                0
ReceivedCalls                0
OutboundCalls                0
InboundCalls                 0
PeakCallsInOut               0
OffPeakCallsInOut            0
DroppedBlockedCalls          0
CallForwardingCalls          0
CallWaitingCalls             0
MonthsInService              0
UniqueSubs                   0
ActiveSubs                   0
ServiceArea                  0
Handsets                     0
HandsetModels                0
CurrentEquipmentDays         0
AgeHH1                       0
AgeHH2                       0
ChildrenInHH                 0
HandsetRefurbished           0
HandsetWebCapable            0
TruckOwner                   0
RVOwner                      0
Homeownership                0
BuysViaMailOrder             0
RespondsToMailOffers         0
OptOutMailings               0
NonUSTravel                  0
OwnsComputer                 0
HasCreditCard                0
RetentionCalls               0
RetentionOffersAccepted      0
NewCellphoneUser             0
NotNewCellphoneUser          0
ReferralsMadeBySubscriber    0
IncomeGroup                  0
OwnsMotorcycle               0
AdjustmentsToCreditRating    0
HandsetPrice                 0
MadeCallToRetentionTeam      0
CreditRating                 0
PrizmCode                    0
Occupation                   0
MaritalStatus                0
dtype: int64

In [19]:
temp_x = df.columns
temp_y = df.describe().columns
res = [item for item in temp_x if item not in temp_y]
print(res)

['Churn', 'ServiceArea', 'ChildrenInHH', 'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner', 'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers', 'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard', 'NewCellphoneUser', 'NotNewCellphoneUser', 'OwnsMotorcycle', 'HandsetPrice', 'MadeCallToRetentionTeam', 'CreditRating', 'PrizmCode', 'Occupation', 'MaritalStatus']

In [24]:
# Check Unique Values for each variable and listing values whose count is less than 25
for column in df.columns:
  if column in res:
    result = len(df[column].unique())
    print(f"The number of unique variables in {column} column are: {result}")
    if result<=17:
      x = df[column].unique()
      print(f'printing unique values of {column}')
      print('the values are: ', x )
      print('--'*30)

The number of unique variables in Churn column are: 2
printing unique values of Churn
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in ServiceArea column are: 320
The number of unique variables in ChildrenInHH column are: 2
printing unique values of ChildrenInHH
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in HandsetRefurbished column are: 2
printing unique values of HandsetRefurbished
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in HandsetWebCapable column are: 2
printing unique values of HandsetWebCapable
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in TruckOwner column are: 2
printing unique values of TruckOwner
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in RVOwner column are: 2
printing unique values of RVOwner
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in Homeownership column are: 2
printing unique values of Homeownership
the values are:  ['Known' 'Unknown']
------------------------------------------------------------
The number of unique variables in BuysViaMailOrder column are: 2
printing unique values of BuysViaMailOrder
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in RespondsToMailOffers column are: 2
printing unique values of RespondsToMailOffers
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in OptOutMailings column are: 2
printing unique values of OptOutMailings
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in NonUSTravel column are: 2
printing unique values of NonUSTravel
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in OwnsComputer column are: 2
printing unique values of OwnsComputer
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in HasCreditCard column are: 2
printing unique values of HasCreditCard
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in NewCellphoneUser column are: 2
printing unique values of NewCellphoneUser
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in NotNewCellphoneUser column are: 2
printing unique values of NotNewCellphoneUser
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in OwnsMotorcycle column are: 2
printing unique values of OwnsMotorcycle
the values are:  ['No' 'Yes']
------------------------------------------------------------
The number of unique variables in HandsetPrice column are: 16
printing unique values of HandsetPrice
the values are:  ['30' 'Unknown' '10' '80' '150' '300' '40' '200' '100' '130' '60' '400'
 '240' '250' '180' '500']
------------------------------------------------------------
The number of unique variables in MadeCallToRetentionTeam column are: 2
printing unique values of MadeCallToRetentionTeam
the values are:  ['Yes' 'No']
------------------------------------------------------------
The number of unique variables in CreditRating column are: 7
printing unique values of CreditRating
the values are:  ['1-Highest' '4-Medium' '3-Good' '2-High' '5-Low' '6-VeryLow' '7-Lowest']
------------------------------------------------------------
The number of unique variables in PrizmCode column are: 4
printing unique values of PrizmCode
the values are:  ['Suburban' 'Town' 'Other' 'Rural']
------------------------------------------------------------
The number of unique variables in Occupation column are: 8
printing unique values of Occupation
the values are:  ['Professional' 'Crafts' 'Other' 'Self' 'Retired' 'Homemaker' 'Clerical'
 'Student']
------------------------------------------------------------
The number of unique variables in MaritalStatus column are: 3
printing unique values of MaritalStatus
the values are:  ['No' 'Yes' 'Unknown']
------------------------------------------------------------

In [22]:
df.drop('CustomerID', axis = 1, inplace = True)

In [35]:
df.head()

,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,...,0.0,4.0,No,0.0,30,Yes,1-Highest,Suburban,Professional,No
1,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,...,0.0,5.0,No,0.0,30,No,4-Medium,Suburban,Professional,Yes
2,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,...,0.0,6.0,No,0.0,Unknown,No,3-Good,Town,Crafts,Yes
3,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,...,0.0,6.0,No,0.0,10,No,4-Medium,Other,Other,No
4,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,...,0.0,9.0,No,1.0,10,No,1-Highest,Other,Professional,Yes

In [28]:
 num_col = df.describe().columns

In [33]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [36]:
X.head()

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,...,PrizmCode_Town,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student,MaritalStatus_Unknown,MaritalStatus_Yes
0,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,0.7,...,0,0,0,0,1,0,0,0,0,0
1,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,0.0,...,0,0,0,0,1,0,0,0,0,1
2,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,0.0,...,1,1,0,0,0,0,0,0,0,1
3,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,7.7,...,0,0,0,1,0,0,0,0,0,0
4,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,0.0,...,0,0,0,0,1,0,0,0,0,1

In [34]:
X = pd.get_dummies(X, drop_first=True)

In [37]:
y = pd.get_dummies(y, drop_first=True)

In [38]:
y.head()

   Yes
0    1
1    1
2    0
3    0
4    1

In [39]:
X.head()

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,...,PrizmCode_Town,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student,MaritalStatus_Unknown,MaritalStatus_Yes
0,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,0.7,...,0,0,0,0,1,0,0,0,0,0
1,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,0.0,...,0,0,0,0,1,0,0,0,0,1
2,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,0.0,...,1,1,0,0,0,0,0,0,0,1
3,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,7.7,...,0,0,0,1,0,0,0,0,0,0
4,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,0.0,...,0,0,0,0,1,0,0,0,0,1

In [40]:
# import sklearn
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state = 14)

In [42]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [43]:
X_train.shape

(9415, 402)

In [44]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout

In [60]:
clas = Sequential()

In [46]:
len(X.columns)

402

In [61]:
clas.add(Dense(units=402, activation = 'relu'))

In [62]:
clas.add(Dense(units = 12, activation = 'LeakyReLU'))
clas.add(Dense(units = 10, activation = 'PReLU'))
clas.add(Dense(units = 7, activation = 'ELU'))
clas.add(Dense(1, activation = 'sigmoid'))

In [63]:
import keras

In [64]:
opt = keras.optimizers.Adam(learning_rate=0.001)

In [65]:
clas.compile(optimizer = opt, loss = 'binary_crossentropy', metrics= ['accuracy'])

In [70]:
es = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.001,
    patience=3,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [71]:
from keras.api._v2.keras.callbacks import EarlyStopping
model_h = clas.fit(X_train,y_train, validation_split=0.9, batch_size=100, epochs = 15, callbacks= es)

Epoch 1/15
10/10 [==============================] - 0s 48ms/step - loss: 0.1843 - accuracy: 0.9586 - val_loss: 0.9532 - val_accuracy: 0.6322
Epoch 2/15
10/10 [==============================] - 0s 41ms/step - loss: 0.1534 - accuracy: 0.9671 - val_loss: 1.0069 - val_accuracy: 0.6245
Epoch 3/15
10/10 [==============================] - 0s 41ms/step - loss: 0.1265 - accuracy: 0.9819 - val_loss: 1.1008 - val_accuracy: 0.6329
Epoch 4/15
10/10 [==============================] - 0s 31ms/step - loss: 0.1062 - accuracy: 0.9841 - val_loss: 1.1490 - val_accuracy: 0.6233
Epoch 4: early stopping

In [ ]:
model_h.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [ ]:
str1 = 'The quick brown fox jumps over the lazy dog'
n = 10
l = len(str1)
k = 5
split1 = str1[:n]
split2 = str1[n:n+k]
split3 = str1[n+k:]

split2 = split2[::-1]
res = split1 + split2 + split3
print(res)

The quick nworb fox jumps over the lazy dog

In [ ]:
rows = 5
for j in range(rows+1, 0, -1):
  print("* " * j)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = 10
for j in range(1, rows,):
    print("* " * j)
for j in range(rows, 0, -1):
  print("* " * j)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
import pandas as pd
inp ='abcdefghijklmnopqrstuvwxyz'
lis = []
for i in inp:
  lis.append(i)
series_n = 'xyz'
s = pd.Series(lis, name = series_n)
print(s)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: xyz, dtype: object