<a href="https://colab.research.google.com/github/azizdafi/Practice-and-revision-material/blob/main/Revision_and_concepts_for_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Variables
A variable is created the moment you first assign a value to it.

### Rules for declaring a variable:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

Note: Remember that variable names are case-sensitive

Some example of declaring a variable.

In [3]:
x = 5       # this creates a variable of type int
print(x)
print(type(x))
###########################
y = "John"       # this creates a variable of type str
print(y)
print(type(y))
###########################
z = 1.0       # this creates a variable of type float
print(z)
print(type(z))
###########################
z = 1 + 4j       # this creates a variable of type Complex
print(z)
print(type(z))
x = True       # this creates a variable of type Boolean
print(x)
print(type(x))
###########################

5
<class 'int'>
John
<class 'str'>
1.0
<class 'float'>
(1+4j)
<class 'complex'>
True
<class 'bool'>

## Python Casting

forcing a data type to change its type is known as casting, how ever it is important for us to undersatnd that the forcefull casting can be done only if the data can be converted to what we are planning to, for example we cannot convert string a as int.

In [ ]:
var =
x = int(1)   # x will be int
x = float(1)     # x will be float (1.0)
x = str(3.0)  # z will be string  ('3.0')

## Strings

In [6]:
print("Hello with double quotes")
print('Hello with single quotes')
a = "Hello assigned as variable"
print(a)
a = """Hello with multiline
string assigned"""
print(a)

Hello with double quotes
Hello with single quotes
Hello assigned as variable
Hello with multiline
string assigned

In [8]:
# String slicing:
b = "Hello, World!"
print(b[2:5])
# indexing starts from 0 till n-1 so here output is "llo"
# note: charecter present in location 5 is not printed

llo

In [10]:
# Get the characters from the start to position 5 (not included)
b = "Hello, World!"
print(b[:5])
print(b[5:-1]) #prints from 5 till last but 1

Hello
, World

## String Methods and examples

####capitalize()
Upper case the first letter in this sentence

In [11]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.