<a href="https://colab.research.google.com/github/azizdafi/Practice-and-revision-material/blob/main/Revision_and_concepts_for_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Variables
A variable is created the moment you first assign a value to it.

### Rules for declaring a variable:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

Note: Remember that variable names are case-sensitive

Some example of declaring a variable.

In [ ]:
x = 5       # this creates a variable of type int
print(x)
print(type(x))
###########################
y = "John"       # this creates a variable of type str
print(y)
print(type(y))
###########################
z = 1.0       # this creates a variable of type float
print(z)
print(type(z))
###########################
z = 1 + 4j       # this creates a variable of type Complex
print(z)
print(type(z))
x = True       # this creates a variable of type Boolean
print(x)
print(type(x))
###########################

5
<class 'int'>
John
<class 'str'>
1.0
<class 'float'>
(1+4j)
<class 'complex'>
True
<class 'bool'>

## Python Casting

forcing a data type to change its type is known as casting, how ever it is important for us to undersatnd that the forcefull casting can be done only if the data can be converted to what we are planning to, for example we cannot convert string a as int.

In [ ]:
var =
x = int(1)   # x will be int
x = float(1)     # x will be float (1.0)
x = str(3.0)  # z will be string  ('3.0')

## Strings

In [ ]:
print("Hello with double quotes")
print('Hello with single quotes')
a = "Hello assigned as variable"
print(a)
a = """Hello with multiline
string assigned"""
print(a)

Hello with double quotes
Hello with single quotes
Hello assigned as variable
Hello with multiline
string assigned

In [ ]:
# String slicing:
b = "Hello, World!"
print(b[2:5])
# indexing starts from 0 till n-1 so here output is "llo"
# note: charecter present in location 5 is not printed

llo

In [ ]:
# Get the characters from the start to position 5 (not included)
b = "Hello, World!"
print(b[:5])
print(b[5:-1]) #prints from 5 till last but 1

Hello
, World

## String Methods and examples

####Methods

In [ ]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

###similar methods

**capitalize()**   
Converts the first character to upper case  
*Example Usage:*  
x = txt.capitalize()

---
**casefold()**
Converts string into lower case  
x = txt.casefold()

---
**center()**
Returns a centered string  
*Example Usage:*  
x = txt.center(20)

---
**count()**
Returns the number of times a specified value occurs in a string  
*Example Usage:*  
x = txt.count("apple")

---
**encode()**
Returns an encoded version of the string  
*Example Usage:*  
x = txt.encode()

---
**endswith()**
Returns true if the string ends with the specified value  
*Example Usage:*  
x = txt.endswith(".")

---
**expandtabs()**
Sets the tab size of the string  
*Example Usage:*  
x =  txt.expandtabs(2)

---
**find()**
Searches the string for a specified value and returns the position of where it was found  
*Example Usage:*  
x = txt.find("welcome")

---
**format()**
Formats specified values in a string  
*Example Usage:*  
print(txt.format(price = 49))

---
**format_map()**
Formats specified values in a string  
*Example Usage:*  


---
**index()**
Searches the string for a specified value and returns the position of where it was found  
*Example Usage:*  
x = txt.index("welcome")

---
**isalnum()**
Returns True if all characters in the string are alphanumeric  
*Example Usage:*  
x = txt.isalnum()

---
**isalpha()**
Returns True if all characters in the string are in the alphabet  
*Example Usage:*  
x = txt.isalpha()

---
**isascii()**
Returns True if all characters in the string are ascii characters  
*Example Usage:*  
x = txt.isascii()

---
**isdecimal()**
Returns True if all characters in the string are decimals  
*Example Usage:*  
x = txt.isdecimal()

---
**isdigit()**
Returns True if all characters in the string are digits  
*Example Usage:*  
x = txt.isdigit()

---
**isidentifier()**
Returns True if the string is an identifier  
*Example Usage:*  
x = txt.isidentifier()


---
**islower()**
Returns True if all characters in the string are lower case  
*Example Usage:*  
x = txt.islower()

---
**isnumeric()**
Returns True if all characters in the string are numeric  
*Example Usage:*  
x = txt.isnumeric()

---
**isprintable()**
Returns True if all characters in the string are printable  
*Example Usage:*  
x = txt.isprintable()

---
**isspace()**
Returns True if all characters in the string are whitespaces  
*Example Usage:*  
x = txt.isspace()

---
**istitle()**
Returns True if the string follows the rules of a title  
*Example Usage:*  
x = txt.istitle()

---
**isupper()**
Returns True if all characters in the string are upper case  
*Example Usage:*  
x = txt.isupper()

---
**join()**
Joins the elements of an iterable to the end of the string  
*Example Usage:*  
x = "#".join(myTuple/list)

---
**ljust()**
Returns a left justified version of the string  
*Example Usage:*  
x = txt.ljust(20)

---
**lower()**
Converts a string into lower case  
*Example Usage:*  
x = txt.lower()

---
**lstrip()**
Returns a left trim version of the string  
*Example Usage:*  
x = txt.lstrip()

---
**maketrans()**
Returns a translation table to be used in translations  
*Example Usage:*  
mytable = str.maketrans("S", "P")

---
**partition()**
Returns a tuple where the string is parted into three parts  
*Example Usage:*  
x = txt.partition("bananas")

---
**replace()**
Returns a string where a specified value is replaced with a specified value  
*Example Usage:*  
x = txt.replace("bananas", "apples")

---
**rfind()**
Searches the string for a specified value and returns the last position of where it was found  
*Example Usage:*  
x = txt.rfind("casa")

---
**rindex()**
Searches the string for a specified value and returns the last position of where it was found  
*Example Usage:*  
x = txt.rindex("casa")

---
**rjust()**
Returns a right justified version of the string  
*Example Usage:*  
x = txt.rjust(20)

---
**rpartition()**
Returns a tuple where the string is parted into three parts  
*Example Usage:*  
x = txt.rpartition("bananas")

---
**rsplit()**
Splits the string at the specified separator, and returns a list  
*Example Usage:*  
x = txt.rsplit(", ")

---
**rstrip()**
Returns a right trim version of the string  
*Example Usage:*  
x = txt.rstrip()

---
**split()**
Splits the string at the specified separator, and returns a list  
*Example Usage:*  
x = txt.split()

---
**splitlines()**
Splits the string at line breaks and returns a list  
*Example Usage:*  
x = txt.splitlines()

---
**startswith()**
Returns true if the string starts with the specified value  
*Example Usage:*  
x = txt.startswith("Hello")

---
**strip()**
Returns a trimmed version of the string  
*Example Usage:*  
x = txt.strip()

---
**swapcase()**
Swaps cases, lower case becomes upper case and vice versa  
*Example Usage:*  
x = txt.swapcase()

---
**title()**
Converts the first character of each word to upper case  
*Example Usage:*  
x = txt.title()

---
**translate()**
Returns a translated string  
*Example Usage:*  
use a dictionary with ascii codes to replace 83 (S) with 80 (P):  
mydict = {83:  80}  
txt = "Hello Sam!"  
print(txt.translate(mydict))  
output: Hello Pam!

---
**upper()**
Converts a string into upper case  
*Example Usage:*  
x = txt.upper()

---
**zfill()**
Fills the string with a specified number of 0 values at the beginning  
*Example Usage:*  
x = txt.zfill(10)

---

####List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are  
Tuple   
Set  
Dictionary

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)
print(len(thislist))
print(type(thislist))
print(thislist[0]) # indexing starts from 0
print(thislist[-1]) #prints last item in the list
print(thislist[2:5]) #prints 3rd item till 5th(excluding the item indexed at 5)
print(thislist[:4]) #Prints first 4
print(thislist[2:]) #prints all after 3

#if condition checking
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
thislist[1] = "blackcurrant" #replaces banana to blackcurrant
print(thislist)

thislist.append("litchy") #adds litchy at the last
print(thislist)

thislist.remove("melon") #removes melon from list
print(thislist)
thislist.sort(reverse = False) #sorts list items
print(thislist)
del thislist #delete the list
# print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
7
<class 'list'>
apple
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
Yes, 'apple' is in the fruits list
['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'litchy']
['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'mango', 'litchy']
['apple', 'blackcurrant', 'cherry', 'kiwi', 'litchy', 'mango', 'orange']

The list is changeable, allows Duplicates.  
we can get length of list by len function  
List items are indexed and you can access them by referring to the index number

####Tuples

Tuples are used to store multiple items in a single variable.  
A tuple is a collection which is ordered and unchangeable.
Tuple items are ordered, unchangeable, and allow duplicate values.

In [17]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))
print(type(thistuple))
# thistuple = ("apple",) #for single item tuple remember the comma
# accessing tuple is same as list

#umpacking tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

# Looping is same like list

#tuple method
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
<class 'tuple'>
apple
banana
cherry
2

####Set

Sets are used to store multiple items in a single variable.  
A set is a collection which is unordered, unchangeable*, and unindexed.  
Set items are unordered, unchangeable, and do not allow duplicate values.

In [21]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

# access list itmes is same as list

# adding item to set
thisset1 = {"apple", "banana", "cherry"}
thisset1.add("orange")
print(thisset1)
# removing item
thisset1 = {"apple", "banana", "cherry"}
thisset1.remove("banana")
print(thisset1)
print()
# Looping is same as list

# joining 2 sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{True, 'apple', 2, 'banana', 'cherry'}
{'apple', 'banana', 'orange', 'cherry'}
{'apple', 'cherry'}

{'a', 1, 2, 3, 'c', 'b'}

####Dictionary

Dictionaries are used to store data values in key:value pairs.  
A dictionary is a collection which is ordered*, changeable and do not allow duplicates  
Dictionaries are written with curly brackets, and have keys and values:

In [33]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print()
# access by key
print(thisdict["brand"])

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
# adding new key value pair to dict
thisdict["color"] = "red"
print(thisdict)

if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

# updating value in dict
thisdict["year"] = 2018
print(thisdict)

# removing key value pair in dict
thisdict.pop("color")
print(thisdict)


# looping in dictionary
for key, value in thisdict.items():
  print(key, value)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
Yes, 'model' is one of the keys in the thisdict dictionary
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
brand Ford
model Mustang
year 2018

In [34]:
# dictionary of dictionar access
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)
for k, v in myfamily.items():
	for k1, v1 in v.items():
		print(k1, v1)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
name Emil
year 2004
name Tobias
year 2007
name Linus
year 2011

####If ... Else

In [35]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [38]:
print(a) if a > b else print(b)

200

In [39]:
a = 330
b = 330
print(a) if a > b else print("equal") if a == b else print(b)

equal

In [41]:
# Nested if
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

####While Loops

In [44]:
# With the while loop we can execute a set of statements as long as a condition is true.
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

####For Loops

In [45]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [46]:
# for itterating in string
for x in "banana":
  print(x)

b
a
n
a
n
a

####Python Functions

A function is a block of code which only runs when it is called.  
You can pass data, known as parameters, into a function.  
A function can return data as a result.  
In Python a function is defined using the def keyword:

In [47]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [49]:
# passing argivments
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [51]:
# setting default value in function
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [52]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21